.footer {
    padding: 50px 0;

    &__logo {
        @include mobile {
            display: flex;
            justify-content: center;
            img {
                width: 100%;
                max-width: 200px;
            }
        }
    }
    &__text {
        text-align: center;
        @include mobile {
            margin: 20px 0;
        }
    }
    &__block {
        display: flex;
        align-items: center;
        height: 100%;

        @include mobile {
            flex-direction: column;
            justify-content: center;
        }
    }
    &__social {
        width: 100%;
        display: flex;
        align-items: center;

        @include mobile {
            justify-content: center;
            margin: 20px 0;
        }

        li {
            width: 25px;
            height: 25px;
            margin: 0 12px;
        }
    }
    &__help {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        @include mobile {
            justify-content: center;
        }
    }
}
