.offer {
    background-color: $light-grey;
    padding: 0;
    margin-top: -50px;

    &__block {
        position: relative;
        top: 100px;
    }

    &__img {
        position: relative;
        top: 45px;
        z-index: 2;
        img {
            width: auto;
            object-fit: contain;
            height: 650px;
        }

        &-second {
            width: 100%;
            max-width: 580px;
        }
    }
    &__text {
        text-align: right;

        p {
            margin-left: auto;
            font-size: 20px;
            width: 100%;
            max-width: 440px;
            margin-bottom: 50px;
        }

        &-second {
            font-size: 20px;
        }
    }
}

.about {
    padding: 150px 0 50px;

    &__title {
    }

    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    &__icon {
        width: 150px;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 15px;

        &-arrow {
            width: 100px;
            height: 100%;
        }
    }

    &__description {
        text-align: center;
        &-main {
            font-size: 20px;
            width: 100%;
            max-width: 600px;
            margin: auto;
            margin-bottom: 30px;
            font-weight: 500;
        }
        &-secondary {
        }
    }
}

.tabs {
    padding: 40px 0;

    &__yellow {
        background-color: $yellow;
    }

    &__list {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        &_icon {
            min-width: 50px;
            width: 50px;
            height: 50px;
            margin-right: 20px;
            img {
                height: 30px;
                object-fit: contain;
            }
        }
        &_text {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.economy {
    background-color: $yellow;
    padding: 80px 0;
    &__img {
        img {
            height: 400px;
            object-fit: contain;
            object-position: right;
        }
    }

    &__text {
        font-size: 20px;
    }

    &__line {
        margin-left: 150px;
        font-weight: bold;
        position: relative;

        .icon {
            position: absolute;
            left: -40px;
            bottom: -13px;
        }
    }
}

.how-use {
    padding: 50px 0;

    &__line {
        height: 100%;
        img {
            width: 120px;
        }

        &--left {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
        &--right {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            img {
                transform: rotateY(180deg);
            }
        }
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 60px;
        img {
            width: 180px;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0 10px 10px #00000010;
        }
    }

    &__block{
        margin-top: 50px;
    }
    &__subtitle{
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }

    ol{
        width: 100%;
        max-width: 420px;
        margin: 0 0 25px;
        padding: 0 0 0 16px;
        li{
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }

    a{
        font-size: 16px;
        font-weight: 500;
        display: block;
        margin-bottom: 10px;
    }
}

.faq{
    background-color: $light-grey;
    padding: 50px 0;
}
