.btn {
    padding: 12px 35px;
    border-radius: 25px;
    background-color: $yellow;
    color: black;
    font-weight: 500;
    display: inline-block;
    transition: 200ms;
    box-shadow: $box-shadow;
    

    &:hover{
        color: black;
        background-color:darken($color: $yellow, $amount: 2);
        transform: translate(4px, 4px);
        box-shadow: none;
    }

    &-offer{
        font-size: 18px;
        border-radius: 7px;
        padding: 16px 60px;
    }

    &-white{
        background-color: #fff;
        color: black;

        &:hover{
            background-color: #fff;
        }
    }

    &-footer{
        padding: 12px 24px;
    }
}
