<footer class="container-fluid px-0 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3" data-aos="fade-up">
                <div class="footer__logo">
                    <img src="assets/images/logo.svg" alt="">
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up">
                <div class="footer__text">
                    По всем вопросам пишите в Telegram аккаунт: <a href="https://tele.click/telegacar_bot" target="_blank">@telegacar</a> или на почту <b>telegacar@gmail.com</b>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer__block">
                    <ul class="footer__social" data-aos="fade-up">
                        <li>
                            <a href="https://tele.click/telegacar_bot" target="_blank">
                                <svg class="svg-icon">
                                    <use xlink:href="assets/images/icons/sprite.svg#telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://vk.com/telegacar" target="_blank">
                                <svg class="svg-icon">
                                    <use xlink:href="assets/images/icons/sprite.svg#vk"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/telegacar_bot" target="_blank">
                                <svg class="svg-icon">
                                    <use xlink:href="assets/images/icons/sprite.svg#twitter"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <div class="footer__help" data-aos="fade-up">
                        <a href="https://vk.com/telegacar?w=app5727453_-173502733" target="_blank" class="btn btn-offer btn-footer">Поддержать проект</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>

<div class="modal modal-1">
    <div class="modal__overlay"></div>
    <div class="modal__block">
        <div class="modal__close">x</div>
        <div class="modal__text">Чтобы разместить свою поездку воспользуйтесь нашим телеграм ботом.</div>
        <div class="modal__btn">
            <a href="https://tele.click/telegacar_bot" target="_blank" class="btn btn-offer">Открыть telegram бот</a>
        </div>
    </div>
</div>
<div class="modal modal-2">
    <div class="modal__overlay"></div>
    <div class="modal__block">
        <div class="modal__close">x</div>
        <div class="modal__btn d-flex justify-content-center">
            <iframe src="https://player.vimeo.com/video/297550032?autoplay=1&amp;loop=1&amp;title=0&amp;byline=0" width="270" height="480" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
    </div>
</div>
<div class="modal modal-3">
    <div class="modal__overlay"></div>
    <div class="modal__block">
        <div class="modal__close">x</div>
        <div class="modal__btn d-flex justify-content-center">
            <iframe src="https://player.vimeo.com/video/297548748?autoplay=1&amp;loop=1&amp;title=0&amp;byline=0" width="270" height="480" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
    </div>
</div>
<div class="modal modal-4">
    <div class="modal__overlay"></div>
    <div class="modal__block">
        <div class="modal__close">x</div>
        <div class="modal__btn d-flex justify-content-center">
            <iframe src="https://player.vimeo.com/video/297550156?autoplay=1&amp;loop=1&amp;title=0&amp;byline=0" width="315" height="560" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
    </div>
</div>